* {
  padding: 0;
  margin: 0;
}

header{
  display:flex;

}
.navbar {
  background-color:white;
  height:70px;
  display:flex;
  width:100%;
  align-items:center;
  position: fixed;
  z-index: 1;
}
.navbar__logo{
  display:flex;
}
.navbar__logo--img{
  height:60px;
}
.navbar__menu{
  list-style-type: none;
  display:flex;
  flex:65vh;
  justify-content: space-evenly;
  flex-wrap:wrap;
}

.aside-socialmedia {
  position: fixed;
  display: flex;
  background-color: white;
  width: 6%;
  margin-top: 70px;
  height: calc(100% - 70px);
  align-items: center;
  z-index: 1;
  right: 0px;
}
.article-first {
  height: 100vh; 

}
.article-first__paralax {
  background-image: url('http://wallpaperscraft.ru/image/mezhdunarodnyj_den_lesa_vsemirnyj_den_zashchity_lesov_priroda_leto_pejzazh_hdr_93600_1920x1080.jpg');
  display: flex;
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0.5;
}

.aside-socialmedia__icons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
}

.aside-socialmedia__icons > i{
  font-size: 40px;
  margin: auto;
}

.article-second{
  min-height: 40vh;
  background-color: #d5dad5;
}



.col1{
  display: flex;
  padding: 0 4px;
}
.row1{
  flex-direction: row;
  flex: 33%;
  max-width: 33%;
  margin: 10px;
}

.box1{
  background-color: #F2F2F2;
  min-height: 250px;
  width: 100%;
}
.box2{
  background-color: #EDD65F;
  min-height: 250px;
  width: 100%;
}
.box3{
  min-height: 250px;
  width: 100%;
  background-image: url('http://wallpaperscraft.ru/image/mezhdunarodnyj_den_lesa_vsemirnyj_den_zashchity_lesov_priroda_leto_pejzazh_hdr_93600_1920x1080.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.col2{
  display: flex;
  padding: 0 4px;
}
.row2{
  flex: 49%;
  max-width: 49%;
  margin: 10px;
}
.box2{
  background-color: #EDD65F;
  min-height: 250px;
  width: 100%;
}
.box3{
  min-height: 250px;
  width: 100%;
  background-image: url('http://wallpaperscraft.ru/image/mezhdunarodnyj_den_lesa_vsemirnyj_den_zashchity_lesov_priroda_leto_pejzazh_hdr_93600_1920x1080.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.footer{
  background-color: #EDD65F;
  width: 100%;
  height: 100px;
}